.dashboard-container{
  display:flex;
  flex-direction:column;
  background-color: $greywhite;
  align-items: center;
  padding: 1em 2em;
}
.dash-btn {
  display: flex;
  justify-content: space-between;
}

.dashBtn {
  background-color: $green;
  border-radius: 0.25em;
  color: $btnTxt;
  font-size: 1em;
  padding: 0.5em 1em;
}
