//HEADER INCL NAVPILLS
//HEADER
header {
  background-color: $green;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  @media screen and (min-width: 720px) {
    justify-content: flex-start;
    padding-left: 0.5em;
  }
}
h1 {
  color: $header;
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: 500;
  margin: 0;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

//LOGIN/SIGN IN AT APP
.top-bar {
  background-color: $green;
  display: flex;
  justify-content: space-around;
  @media screen and (min-width: 720px) {
    justify-content: flex-end;
  }
  a {
    text-decoration: none;
    color: $greywhite;
    font-size: 1.25em;
  }
}
.link-div {
  margin: 1em 0.5em 0em 0.5em;
}
.link-div-holder {
  margin: 1em 0.5em 0em 0.5em;
  display: flex;
}
.link-div-twin {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.active-tab {
  background-color: $greywhite;
}
.inactive-tab {
  background-color: $grey;
}
