.personCard {
  background-color: $ltbluefade;
  border: 2px solid $subheader;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: 1.2em;
  justify-content: space-around;
  padding: 1em;
  margin: 1em;
}
.addressBlock {
  li {
    list-style: none;
    a {
      color: #0e6009;
    }
  }
}
