//font-family: 'Roboto', sans-serif; (in 300, 400, 500)
//https://webaim.org/resources/contrastchecker/
//https://www.smashingmagazine.com/2016/06/improving-color-accessibility-for-color-blind-users/
//4d4d4d on ffffff and ededed: Contrast Ratio 8.45:1 all pass
$header: #4d4d4d;
$subheader: #1c2833;
$link: #3f6fd8;
$blue: #49d2f5;
$ltblue: #97ebfe;
//btns green and btnTxt AAA 4.57
$green: #4fbc57;
$btnTxt: #2c3e50;

$greywhite: #ededed;
$grey: #c3c3c3;
