@import '_variables';
button,
.button {
  background-color: $green;
  color: $btnTxt;
  font-size: 1em;
  padding: 0.5em 1em;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: $link;
}

#root,
.homeCard,
.signup-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.homeCard,
.about-container,
.contact-container,
.signup-container {
  background-image: url('../../images/brick.jpg');
  background-size: cover;
}
